@import 'reset/css';

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

img{
    width: 100%;
   
}

html,body {
overflow-x: hidden;
}

/*nametag appears at bottom on mobile*/
/*eleven gif is not full width on desktop*/
@media only screen and (min-width: 768px) {
    .nametag {width:200px;
    height:80px;
    position:fixed;
    top:5;
    right:20;}
    .center {width:600px;
        height:800px;}
}

.nametag{
    width:200px;
    height:80px;
    position:fixed;
    bottom:20;
    right:20;
}

.margining{
    padding-top:130%;
}

.lesswidth{
    width: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: device-width;
  height:device-height;
}

.slider-image{
    float:left;
    margin: 0px;
    padding:0px; 
    font-family: 'Noto Serif TC', serif;
}


h1{
    font-family:'Noto Serif TC', serif;
    font-size: 80px;
    color: #e50000;
    text-align: center;
    display: block;   
}

h2{
    font-family: 'Abril Fatface', cursive;
    transform: skew(-15deg, 0deg);
    color: #e50000;
    font-size:25px;
    text-align: center;
    display: block;
     letter-spacing: 2.5px;
}


header{
    position: fixed;
    display: block;
    z-index: 500;
    font-family: 'Abril Fatface', cursive;
    transform: skew(-15deg, 0deg);
    color: #e50000;
    font-size:25px;
    display: block;
    letter-spacing: 2.5px;
    padding-top: 5px;
    padding-left: 20px;
    
}

.alignright{
    width:450px;
    height: 125px;
    float: right;
    position: absolute;
    right: 0;
    bottom: 0;
}



/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    
	display: block;
	float:left;
	margin: 0% 0 0% 0%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.66%; }
.span_1_of_3 { width: 33.33%; }

/* MOBILE SETTINGS */
/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 768px) {
	.col {  margin: 0px 1px 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
    

h1{
    font-size: 60px;
}

 .alignright{
    position: absolute;
    width:450px;
    float: right;
    right: 5;
    bottom: 0;
}

}
